# Ignorar entorno virtual y archivos de Python
enviroment/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos temporales y de entorno
.env
*.db
*.sqlite3
.DS_Store
.idea/
.vscode/

# Carpeta de instancia (bases de datos locales, etc.)
instance/

